body{
    margin: 0;
    color: rgb(227, 231, 0);
    background-image: url(image/back.jpg);
    font-family: serif;
  }

  .back{
      color: rgb(185, 185, 0);
  }

  .head{
      text-align: center;
  }

  head{
      font-size:5rem;
      margin-bottom: 200px;
  }

  .title{
      font-size:5rem;
      background-color: rgb(26, 26, 110);
      margin-top: 10rem;
      margin-bottom: 10rem;
  }


  .head-main{
    display:grid;
    margin:auto 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px;
    gap: 100px;
    background-color: rgb(14, 14, 56);
  }

  .head-sub{
      font-size: 20px;
  }



  .midasi{
      font-size:4rem;
      text-align: center;
      background-color: rgb(16, 36, 145);
  }

  .sub-text{
      font-size: 2rem;
      text-align: center;
      margin-bottom: 100px;
  }

  .profile-main{
      display:grid;
      margin:auto 5rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 400px;
      gap: 100px;
      margin-bottom: 200px;
  }

  .profile-class{
      font-size:30px;
      margin-top: 3rem;
      margin-left: 3rem;
  }

  .profile-class img{
      width: 300px;
  }

  .skill-main{
    display:grid;
    margin:auto 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    gap: 100px;
  }

  .skill-class{
      text-align: center;
  }

  .skill-name{
      font-size: 30px;
  }

  .skill-text{
    font-size: 20px;
}

.work-main{
    display:grid;
    margin:auto 5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    gap: 100px;
}

.work-class{
    text-align: center;
    margin-bottom: 100px;
}

.work-class img{
    width: 200px;
    height:200px;
}

.work-text{
    font-size: 26px;
}

.text-help{
    text-align: center;
    margin: 100px;
}


.profile-image{
    border-radius: 50%; 
}

