body{
    margin: 0;
    color: whitesmoke;
    background-color:rgb(121, 86, 34);
    font-family: serif;
  }

  .head{
      text-align: center;
  }

  head{
      font-size:5rem;
      margin-bottom: 200px;
  }

  .title{
      font-size:5rem;
  }

  .head-main{
    display:grid;
    margin:auto 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px;
    gap: 100px;
    background-color: aliceblue;
  }

  .head-sub{
      font-size: 20px;
  }



  .midasi{
      font-size:4rem;
      text-align: center;
  }

  .sub-text{
      font-size: 2rem;
      text-align: center;
      margin-bottom: 100px;
  }

  .profile-main{
      display:grid;
      margin:auto 5rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 400px;
      gap: 100px;
      margin-bottom: 200px;
  }

  .profile-class{
      font-size:30px;
      margin-top: 3rem;
      margin-left: 3rem;
  }

  .profile-class img{
      width: 300px;
  }

  .skill-main{
    display:grid;
    margin:auto 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    gap: 100px;
  }

  .skill-class{
      text-align: center;
  }

  .skill-name{
      font-size: 20px;
  }

  .skill-text{
    font-size: 15px;
}

.work-main{
    display:grid;
    margin:auto 5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    gap: 100px;
}

.work-class{
    text-align: center;
}

.work-class img{
    width: 200px;
}

.work-text{
    font-size: 24px;
}

  